@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --main-color:#16a085;
    --yellow:#f1c40f;
    --orange:#f39c12;
    --white:#ecf0f1;
    --black:#2c3e50;
    --light-color:#95a5a6;
    --light-bg:#ecf0f1;
    --border: .1rem solid rgba(0,0,0,.2);
}

*{
    font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
margin: 0; padding: 0;
box-sizing: border-box;
outline:none; border: none;
text-decoration: none;
}



*::selection{
    background-color: var(--main-color);
    color: #ecf0f1;
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--light-bg);
}

section{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    border-radius: 5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
}

.btn,
.option-btn,
.delete-btn{
    display: flex;
    width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    display: inline-block;
}

.btn,
.inline-btn{
    background-color: var(--main-color);
}

.option-btn,
.inline-option-btn{
    background-color: var(--orange);
}

.delete-btn,
.inline-delete-btn{
    background-color: red;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover{
    background-color: var(--black);
    color: var(--white);
}

.flex-btn{
    display: flex;
    gap: 1rem;
}

.header{
    background-color: var(--white);
    border-bottom: var(--border);
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .flex{
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

.header .flex .search-form{
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 2rem;
    background-color: var(--light-color);
}

.header .flex .search-form input{
    width: 100%;
    background: none;
    font-size: 2rem;
    color: var(--black);
}

.header .flex .search-form button{
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    background:none;
}

.header .flex .search-form button:hover{
    color: var(--main-color);
}

.header .flex .icons div{
    font-size: 2rem;
    color: var(--black);
    border-radius: .5rem;
    height: 4.5rem;
    cursor: pointer;
    width: 4.5rem;
    line-height: 4.4rem;
    background-color:var(--light-bg) ;
    text-align: center;
    margin-left: .5rem;
}

.header .flex .icons div:hover{
    background-color: var(--black);
    color: var(--white);
}

#search-btn{
    display: none;
}

.header .flex .profile{
    position: absolute;
    top: 120%; right: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    width: 30rem;
    transform: scale(0);
   transform-origin: top right;
    transition: .2s linear;
}

.header .flex .profile .active{
    transform: scale(1);
}

.header .flex .profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.header .flex .profile h3{
    font-size: 2rem;
    color: var(--black);
}

.header .flex .profile span{
    color: var(--light-color);
    font-size: 1.6rem;
}




























/*media queris*/
@media(max-width:991px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
    #search-btn{
        display: inline-block;
    }
    .header.flex.search-form{
        position: absolute;
        top: 99%; left: 0; right: 0;
        width:auto ;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--white);
        clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);;
        transition: .2s linear;
    }

    .header.flex.search-form.active{
        clip-path: polygon(0 0, 100% 0, 100% 99%, 0 100%);;
    }

}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
}