
html, body {
    height: 100%;
    width: 100%;
  }
  *{
    background-color: #000;
  }
  
  #joke{
    background-color: #0fc2a199;
    color: #000;
    font-size: 2em;
    font-weight: 800;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 80px;
    text-align: center;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
  }