*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;

    h3{
        @include title-text(3rem);
        margin-top: 1rem;
    }
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: rgb(241, 209, 67);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;

}
section nav .logo img{
    length: 100px;
    width: 300px;
    cursor: pointer;
    margin: 7px 0;
    border-radius: 35px;
}
section nav ul{
    list-style: none;
}
section nav ul li{
    display: inline-block;
    margin: 0 15px;
}
section nav ul li a{
    text-decoration: none ;
    color: black;
    font-weight: 500;
    font-size: 17px;

}
section nav .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cusror: pointer;
    transition: 0.3s;
}

.menu{
    .box {
       float : left;
       width: 33.33%;
       padding: 35px;
    }
    .box-container{
        content:"" ;
        display: table;
        clear: both;
        text-align: center;
    }
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .contact-info,
  .social-media {
    flex: 1;
    padding: 10px;
  }
  
  .contact-info h3,
  .social-media h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .social-media a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .copyright {
    text-align: center;
    padding-top: 20px;
    font-size: 0.8rem;
  }
