body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 100px;
    background: blur;
    background-image: url('https://wallpapers.com/images/high/pink-sunset-sky-3nsrx2pd7kuc1zr3.webp');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin: 0;
}
h1 {
    color: #031350;
}


.heart {
    height: 100px;
    width: 100px;
    background-color: red;
    transform: rotate(45deg);
    margin-top: 200px;   
    margin-left: 700px;
    position: relative;
    animation: heartBeat 1s infinite;
    
  }
.heart::after,
.heart::before{
    content: '';
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;

}
.heart::after{
    top: -50px;
    right: 0;
}
.heart::before{
    top: 0;
    left: -50px;
}
@keyframes heartBeat{
    0%{
        transform:rotate(45deg) scale(1);  
    }
    25%{
        transform:rotate(45deg) scale(1.2);  
    }
    50%{
        transform:rotate(45deg) scale(1.4);
    }
    75%{
        transform:rotate(45deg) scale(1.2);  
    }
    100%{
        transform:rotate(45deg) scale(1);
    }
}




.heart1 {
    height: 50px;
    width: 50px;
    background-color: red;
    transform: rotate(45deg); 
    margin-left: 100px;
    position: relative;
    animation: heartBeat1 1s infinite;
    
  }
.heart1::after,
.heart1::before{
    content: '';
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;

}
.heart1::after{
    top: -25px;
    right: 0;
}
.heart1::before{
    top: 0;
    left: -25px;
}
@keyframes heartBeat1{
    0%{
        transform:rotate(45deg) scale(1);
        
    }
    50%{
        transform:rotate(45deg) scale(1.2);
    }
    100%{
        transform:rotate(45deg) scale(1);
    }
}









.heart2 {
    height: 50px;
    width: 50px;
    background-color: red;
    transform: rotate(45deg);
    margin-bottom: 10000px;
    margin-left: 1350px;
    position: relative;
    animation: heartBeat2 1s infinite;
    
  }
.heart2::after,
.heart2::before{
    content: '';
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;

}
.heart2::after{
    top: -25px;
    right: 0;
}
.heart2::before{
    top: 0;
    left: -25px;
}
@keyframes heartBeat2{
    0%{
        transform:rotate(45deg) scale(1);
        
    }
    50%{
        transform:rotate(45deg) scale(1.2);
    }
    100%{
        transform:rotate(45deg) scale(1);
    }
}